---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Septiembre 2024",
    title: "Pagina web comercial",
    company: "Astrogeomatica",
    description:
      "Página comercial de servicios fotogramétricos desarrollado con WordPress y CloudFlare.",
    link: "https://astrogeomatics.com/",
  },
  {
    date: "Noviembre 2024",
    title: "Plataforma de aprendizaje",
    company: "Astrogeomatica",
    description:
      "Página de capacitación en fotogrametría desarrollado con Moodle y Cloudflare.",
    link: "https://capacitacion.astrogeomatics.com/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
